body{
    margin: 50px;
    background-image: url(media/Gorillaz_desktop.webp);
    background-position: center;
    background-size: cover;
}

/* MAIN DIV + MAIN HEADER */

body> div > div{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 30px;
}

div > div > header > h1{
    font-family: "Bungee Shade";
    color: white;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 70px;
}

/* NAVIGATION */

div > div > nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

div > div > nav > div{
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 25px;
    font-family: "Barlow Condensed";
    border-radius: 15px;
    padding: 25px;
}

div > div > nav > div:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.marked,
.marked:hover{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    box-shadow: 0px 0px 20px white;
    font-family: "Barlow Semi Condensed";
    font-weight: bold;
}

/* ALBUM INFO */

.best{
    display: grid;
    grid-template-columns: 2fr 1fr;

    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 50px 10px 10px 10px;
    padding: 30px;
    border-radius: 30px;
}

    /* TEXT INFO */

.album_data > div > h1 {
    font-family: "Bungee Outline";
    color: white;
    margin: 0;
}

.album_data > div > h2 {
    font-family: "Barlow Semi Condensed";
    color: white;
    margin: 0;
    margin-bottom: 70px;
}

.album_data > div > p {
    font-family: "Barlow Condensed";
    color: white;
}

.album_data > div > ul {
    font-family: "Barlow Condensed";
    color: white;
    list-style: none;
    margin: -15px;
}

.album_description{
    margin-top: 70px;
    margin-right: 10px;
}

    /* COVER */

.cover{
    width: 400px;
    height: 400px;
    overflow: hidden;
    grid-column: 2;

    border-radius: 20px 20px 0 0;
}

.show_hover{
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition-property: ;
    transition-duration: 1s;
}

.show_not_hover{
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition-property: ;
    transition-duration: 1s;
}

.cover:hover{
   
}

    /* SONG LIST */

.song_list{
    grid-column: 2;
    display: flex;
    gap: 10px;
    margin-top: 10px;

    font-family: "Barlow Condensed";
}

.song_list > div{
    flex-basis: 400px;
    padding: 0 10px;
    height: 200px;
}

#are_you_experienced .song_list > div{
    background-color: #718B5C;
    color: #a75E55;
}

#axis_bold_as_love .song_list > div{
    background-color: #CD9828;
    color: #F2491E;
}

.song_list > div:nth-child(1) {
    border-radius: 0 0 0 20px;
}

.song_list > div:nth-child(2) {
    border-radius: 0 0 20px 0;
}

.song_list ul{
    list-style-type: decimal;
    margin: 0;
}

.song_list h2{
    margin-bottom: 0;
}

    /* ANECDOTES */

.anecdotes{
    list-style: none;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px;
}

#are_you_experienced .anecdotes li {
    color: #718B5C;
    background-color: #a75E55;
    padding: 30px;
    font-family: "Barlow Semi Condensed";
}

.top_left_90{
    border-radius: 0 20px 20px 20px;
}

.top_right_90{
    border-radius: 20px 0 20px 20px;
}

.bottom_right_90{
    border-radius: 20px 20px 0 20px;
}

.bottom_left_90{
    border-radius: 20px 20px 20px 0;
}

#are_you_experienced .anecdotes li:nth-child(1){
    grid-column: 1;
}

#are_you_experienced .anecdotes li:nth-child(3){
    grid-column: 3 / span 2;
}

#are_you_experienced .anecdotes li:nth-child(6){
    grid-column: 5;
    color: white;

    background-image: url(media/Demon_days.jpg);
}

#are_you_experienced .anecdotes li:nth-child(7){
    grid-column: 6;
}

.empty {
    display: none;
}