body{
    margin: 20px;
    background-image: url(media/Gorillaz_desktop.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    --main-header: 70px;
    --desktop-navigation: 25px;

    --main-header-tablet: 13vw;
    --tablet-h1: 40px;
    --tablet-p-li: 2.5vw;

    --main-header-phone: 14vw; 
    --phone-h1: 35px;
    --phone-h2: 25px;
    --phone-p: 4.5vw;
    --phone-li: 4.5vw;
    --phone-song-li: 3.5vw;
    --phone-anecdotes: 2.5vw;
}

/* MAIN DIV + MAIN HEADER */

body> div > div{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 30px;
}

div > div > header > h1{
    font-family: "Bungee Shade";
    color: white;
    font-size: var(--main-header);
    margin-top: 0;
    margin-bottom: 70px;
}

/* NAVIGATION */

div > div > nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

div > div > nav > div{
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: var(--desktop-navigation);
    font-family: "Barlow Condensed";
    border-radius: 15px;
    padding: 25px;
}

div > div > nav > div:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.marked,
.marked:hover{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    box-shadow: 0px 0px 20px white;
    font-family: "Barlow Semi Condensed";
    font-weight: bold;
}

/* ALBUM INFO */

.best{
    display: grid;
    grid-template-columns: 2fr 1fr;

    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 50px 10px 10px 10px;
    padding: 30px;
    border-radius: 30px;
}

    /* TEXT INFO */

.album_data > div > h1 {
    font-family: "Bungee Outline";
    color: white;
    margin: 0;
    margin-top: 10px;
}

#axis_bold_as_love .album_data > div > h1::before{
    background-image: url(media/number-1-icon.png);
    background-size: 50px 50px;
    display: inline-block;
    width: 50px; 
    height: 50px;
    content:"";

    position: relative;
    right: 50px;
    bottom: 50px;
}

.album_data > div > h2 {
    font-family: "Barlow Semi Condensed";
    color: white;
    margin: 0;
    margin-bottom: 70px;
}

.album_data > div > p {
    font-family: "Barlow Condensed";
    color: white;
}

.album_data > div > ul {
    font-family: "Barlow Condensed";
    color: white;
    list-style: none;
    margin: -15px;
}

.album_description{
    margin-top: 70px;
    margin-right: 10px;
}

    /* COVER */

.cover{
    width: 37vw;
    
    overflow: hidden;
    grid-column: 2;

    position: relative;

    border-radius: 20px 20px 0 0;
}

.show_not_hover{
    height: 100%;
    width: 100%;
    object-fit: cover;

    position: absolute;
    left: 0;

    transition-property: opacity;
    transition-duration: 1s;
}

.show_hover{
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition-property: opacity;
    transition-duration: 1s;
}

.show_not_hover:hover{
    opacity: 0;
}
    /* SONG LIST */

.song_list{
    grid-column: 2;
    display: flex;
    gap: 10px;
    margin-top: 10px;

    font-family: "Barlow Condensed";
}

.song_list > div{
    flex-basis: 37vw;
    padding: 0 10px;
    height: 200px;
}

#are_you_experienced .song_list > div{
    background-color: #001621;
    color: #e5ebeb;
}

#axis_bold_as_love .song_list > div{
    background-color: #CD9828;
    color: #F2491E;
}

.song_list > div:nth-child(1) {
    border-radius: 0 0 0 20px;
}

.song_list > div:nth-child(2) {
    border-radius: 0 0 20px 0;
}

.song_list ul{
    list-style-type: decimal;
    margin: 0;
}

.song_list h2{
    margin-bottom: 0;
}

    /* ANECDOTES */

    .anecdotes{
    list-style: none;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px;
}

#are_you_experienced .anecdotes li {
    color: #001621;
    background-color: #e5ebeb;
    padding: 30px;
    font-family: "Barlow Semi Condensed";
}

#axis_bold_as_love .anecdotes li {
    color: #CD9828;
    background-color: #F2491E;
    padding: 30px;
    font-family: "Barlow Semi Condensed";
}

.top_left_90{
    border-radius: 0 20px 20px 20px;
}

.top_right_90{
    border-radius: 20px 0 20px 20px;
}

.bottom_right_90{
    border-radius: 20px 20px 0 20px;
}

.bottom_left_90{
    border-radius: 20px 20px 20px 0;
}

#are_you_experienced .anecdotes li:nth-child(1){
    grid-column: 1;
}

#are_you_experienced .anecdotes li:nth-child(3){
    grid-column: 3 / span 2;
}

#are_you_experienced .anecdotes li:nth-child(6){
    grid-column: 5;
    color: white;

    background-image: url(media/damonalbarn.jpg);
    background-size: cover;
    background-position: top;
    display: grid;
    align-content: flex-end;
    text-shadow: 0px 0px 5px black;
}

#are_you_experienced .anecdotes li:nth-child(7){
    grid-column: 6;
}

#axis_bold_as_love .anecdotes li:nth-child(1){
    grid-column: 1 / span 2;
}

#axis_bold_as_love .anecdotes li:nth-child(2){
    grid-column: 3;
}

#axis_bold_as_love .anecdotes li:nth-child(5){
    grid-column: 4 / span 2;
    color: white;

    background-image: url(media/jamiehewlett.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    align-content: flex-end;
    text-shadow: 0px 0px 5px black;
}

#axis_bold_as_love .anecdotes li:nth-child(6){
    grid-column: 6;
}

.empty {
    display: none;
}

/* FOOTER */
footer{
    font-family: "Barlow Condensed";
    color: white;
}

/* 800 PX */

@media (max-width: 800px){
   body{
    margin-bottom: 200px;
    margin-top: 200px;

    background-image: url(media/Gorillaz_tablet.jpg);
    background-position: center;
        background-size: cover;
        background-attachment: fixed;
   }

    /* MAIN DIV + MAIN HEADER */
    div > div > header > h1{
        text-align: center;
        font-size: var(--main-header-tablet);
    }

    /* NAVIGATION */
    div > div > nav > div{
        padding: 15px;
    }

    /* ALBUM INFO */

    .best{
        padding: 15px;
    }

    .best p, li{
        font-size: var(--tablet-p-li);
    }

        /* TEXT INFO */

        .album_data{
            grid-column: 1 / span 2;
        }
        
        .album_data > div > h1 {
            font-size: var(--tablet-h1);
        }
    
        /* COVER */

        .cover{
            grid-column: 1;
            grid-row: 1;
            width: 100%;
            height: 100%;
            border-radius: 20px 0 0 20px;
        }

        .show_hover, .show_not_hover{
            object-fit: scale-down;
            object-position: top;
        }

        .show_not_hover:hover{
            opacity: 1;
        }

        #are_you_experienced > .cover{
            object-fit: scale-down;
            object-position: top;

            background-color: #001621;
        }

        #axis_bold_as_love > .cover{
            object-fit: scale-down;
            object-position: top;

            background-color: #CD9828;
        }

        /* SONG LIST */

        .song_list{
            grid-column: 2;
            grid-row: 1;

            width: 32vw;

            display: grid;
        }

        .song_list > div:nth-child(1) {
            border-radius: 0 20px 0 0;
        }
        
        .song_list > div:nth-child(2) {
            border-radius: 0 0 20px 0;
        }

        .song_list > div{
            margin-left: 10px;
        }

    /* ANECDOTES */
    .anecdotes{
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(2, 1fr);

        padding: 0;
    }

    #are_you_experienced .anecdotes li:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }

    #are_you_experienced .anecdotes li:nth-child(3){
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    #are_you_experienced .anecdotes li:nth-child(6){
        grid-column: 2;
        grid-row: 2;
    }

    #are_you_experienced .anecdotes li:nth-child(7){
        grid-column: 3;
        grid-row: 2;
    }

    #axis_bold_as_love .anecdotes li:nth-child(1){
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    #axis_bold_as_love .anecdotes li:nth-child(2){
        grid-column: 3;
        grid-row: 1;
    }

    #axis_bold_as_love .anecdotes li:nth-child(5){
        grid-column: 2 / span 2;
        grid-row: 2;
    }

    #axis_bold_as_love .anecdotes li:nth-child(6){
        grid-column: 4;
        grid-row: 2;
    }
}

    /* PHONE 500PX */

@media (max-width: 500px){
    body{
        margin: 0;
        background-image: url(media/Gorillaz_phone.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        
    }

    /* MAIN DIV + MAIN HEADER */

    body> div > div{
        border-radius: 0;
        padding: 20px;
        padding-bottom: 100px;
    }

    div > div > header > h1{
        text-align: center;
        font-size: var(--main-header-phone);
    }


    /* NAVIGATION */
    div > div > nav > div{
        padding: 5px;
    }

    /* ALBUM INFO */
    /*.best li{
        font-size: var(--phone-li);
    }*/

        /* TEXT INFO */

        .album_data{
            grid-column: 1 / span 2;
        }

        .album_description{
            grid-column: 1 / span 2;
        }

        .album_data > div > h1 {
            font-size: var(--phone-h1);
        }

        .album_data > div > h2 {
            font-size: var(--phone-h2);
        }

        .album_data li{
            font-size: var(--phone-li);
        }

        .album_data > div > p, .album_description {
            font-size: var(--phone-p);
        }

        /* COVER */

        .cover{
            grid-column: 1 / span 2;
            grid-row: 1;
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
        }

        /* SONG LIST */

        .song_list{
            grid-row: 2;
            grid-column: 1 / span 2;
            display: flex;
            width: 100%;
            gap: 3px;
        }

        .song_list > div:nth-child(1) {
            border-radius: 0 0 0 20px;
        }

        .song_list > div:nth-child(2) {
            border-radius: 0 0 20px 0;
        }

        .song_list li{
            font-size: var(--phone-song-li);
        }

     /* ANECDOTES */

     .anecdotes{
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .anecdotes li{
        font-size: var(--phone-anecdotes);
    }

    #are_you_experienced .anecdotes li:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }

    #are_you_experienced .anecdotes li:nth-child(3){
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    #are_you_experienced .anecdotes li:nth-child(6){
        grid-column: 2;
        grid-row: 2;
    }

    #are_you_experienced .anecdotes li:nth-child(7){
        grid-column: 3;
        grid-row: 2;
    }

    #axis_bold_as_love .anecdotes li:nth-child(1){
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    #axis_bold_as_love .anecdotes li:nth-child(2){
        grid-column: 3;
        grid-row: 1;
    }

    #axis_bold_as_love .anecdotes li:nth-child(5){
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    #axis_bold_as_love .anecdotes li:nth-child(6){
        grid-column: 3;
        grid-row: 2;
    }
}